# Add any directories, files, or patterns you don't want to be tracked by version control
# package directories
jspm_packages

# Serverless directories
.serverless
.python-version
.vscode/tags

# dependencies
node_modules/